@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.oe-input-label {
    width: 146px;
    height: 26px;
    flex-shrink: 0;
    color: #000;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.oe-input {
    width: 401px;
    height: 28px;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.79);
    stroke-width: 1px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    justify-self: center;
    align-self: center;
}

.buttonAdd {
    box-sizing: border-box;
    width: 96px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #4E6CEF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
    margin-top: 15px;


}

.buttonClear {
    width: 96px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    color: #4E6CEF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 195px;
    margin-top: 15px;
}
.excelbtn{
    padding: 5px;
    margin-left: 373px;
    width: 220px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background:#ffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    color: #4E6CEF;
    border: 3px solid #4E6CEF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.oe-choose-file {
    width: 550px;
    height: 30px;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.79);
    stroke-width: 1px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    justify-self: center;
    align-self: center;
}

.oe-error {
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    color: rgb(219, 0, 0);
    margin-left: 150px;
}
.oe-file-error {
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    color: rgb(219, 0, 0);

}
.password{
    display: inline-block;
    position: relative;

}
.pass-icon{

    width: 30px;
    position: absolute;
    top: 9px;
    margin-left: -35px;
    cursor: pointer;
}
#eye-icon{
    width: 30px;
    position: absolute;
    top: 9px;
    margin-left: -35px;
    cursor: pointer;
}
