@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: content-box;
    max-width: 1920px;
}
.content_home {
    background-color: white;
    width: 1430px;
    height: 876px;
    border-radius: 15px;
}

.project {
    background-image: url("https://i.pinimg.com/564x/06/a8/38/06a83820a113e86cdc82351c5092bccf.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.project{
    width: 319px;
    height: 449px;
}

.pj_01 {
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
    font-family: Mulish;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}
.detailproject{
    color: #ffffff;
    font-style: normal;
    line-height: normal;
    margin-top: 221px;
    margin-left: 15px;

}

.pj_02 {
    margin-left: 380px;
    margin-top: 30px;
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
    font-family: Mulish;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}

.pj_03 {
    margin-left: 730px;
    margin-top: 30px;
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
    font-family: Mulish;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}

.pj_04 {
    margin-left: 1080px;
    margin-top: 30px;
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
    font-family: Mulish;
    box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;

}

img{
    max-width: 319px;
    width: 100%;
    height: 449px;
    background-size: cover;

}


@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.information_01{
    max-width: 319px;
    width: 100%;
    height: 449px;
    margin-left: 30px;
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
}

.information_02{
    max-width: 319px;
    width: 100%;
    height: 449px;
    margin-left: 380px;
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
}

.information_03{
    max-width: 319px;
    width: 100%;
    height: 449px;
    margin-left: 730px;
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
}

.information_04{
    max-width: 319px;
    width: 100%;
    height: 449px;
    margin-left: 1080px;
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
}

.inf_wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.inf_all{
    max-width: 319px;
    width: 100%;
    height: 449px;
    cursor: pointer;
}

.detail{
    color: #ffffff;
    font-style: normal;
    line-height: normal;
    margin-top: 221px;
    margin-left: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.detail h2{
    font-size: 30px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.detail p{
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.star{
    font-size: 30px;
    background-color: transparent;
    border: none;
    margin-top: 11px;
    margin-left: 291px;
    width: 27px;
    height: 25px;


}



.tag1{
    margin-left: 48px;
    padding: 6px 20px;
    background: #FFF;
    border-radius: 15px;
    border: 2px solid #fe9fe3;
    color: #fe9fe3;
    font-weight: 700;
    box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 0;
    transition:.4s;
    overflow: hidden;
    cursor: pointer;

}
.tag1::after{
    content:'';
    width: 0;
    height: 100%;
    position: absolute;
    background: #fe9fe3;
    left: 0;
    top: 0;
    z-index: -1;
    transition:.4s;

}
.tag1:hover{
    color: #FFF;
    border: 2px solid #ffffff;
    padding: 8.5px 20px;
}
.tag1:hover::after{
    width: 100%;
}
.tag2{
    margin-left: 36px;
    padding: 6px 20px;
    background: #ffffff;
    border-radius: 15px;
    border: 2px solid #bd9fff;
    color: #bd9fff;
    font-weight: 700;
    box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 0;
    transition:.4s;
    overflow: hidden;
    cursor: pointer;

}
.tag2::after{
    content:'';
    width: 0;
    height: 100%;
    position: absolute;
    background: #bd9fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition:.4s;

}
.tag2:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8.5px 20px;
}
.tag2:hover::after{
    width: 100%;
}

.text{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: 700;
}
