.container {
    display: flex;
}

.detail {
    margin-left: 26px;
    width: 500px;
    height: 339px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 26px;
    border-radius: 15px; /* กำหนดความโค้งของมุม */
}


.detail::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; 
    color: #999; 
    font-size: 30px; 

}
#img-view1 {
    margin-left: 0px;
    margin-top: 0px;
    width: 608px; 
    height: 900px; 
    border-radius: 25px;

    background: #f7f8ff;
    display: flex;
    background-size: cover; 
    align-items: center;
    justify-content: center;
}
#img-view2{
    margin-left: 26px;
    margin-top: 0px;
    width: 498px;
    height: 535px;
    border-radius: 25px;
    display: flex;
    background: #f7f8ff;
    background-position: center;
    background-size:cover;
    align-items: center;
    justify-content: center;

}
