@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
    max-width: 100%;
    min-width: 500px;
    background: #e5ecff;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.top-navbar {
    width: 100%;
    height: 118px;
    background: linear-gradient(91deg, #9dbeff 42.58%, #fed9ff 79.57%);
    flex-shrink: 0;
    display: flex;
    z-index: 999;
}
#web-logo {
    width: 171px;
    height: 71px;
    margin-top: 23px;
}
#hamberger-bar {
    font-size: 50px;
    flex-shrink: 0;
    margin: 34px 21px;
    color: white;
}
#web-icon {
    width: 94px;
    height: 105px;
    position: absolute;
    right: 22px;
}
#main-content {
    display: block;
    margin-top: 50px;
    background-color: #ffffff00;
    border-radius: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 24px;
    padding: 0;
    padding-bottom: 224px;
}
#main-content:after {
    content: "";
    display: block;
    height: 224px;
}
#web-footer {
    width: 100%;
    height: 224px;
    background: linear-gradient(91deg, #9dbeff 39.91%, #fed9ff 78.86%);
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
    position: relative;
    bottom: 0;
    margin-top: 62px;
}
#copyright {
    position: absolute;
    left: 12px;
    bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#faculty {
    color: #323694;
    font-family: Mulish;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 65px;
    left: 41px;
}

#faculty-address {
    color: #323694;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    position: absolute;
    left: 652px;
    top: 69px;
}
#location-icon {
    position: absolute;
    top: 66px;
    left: 625px;
    font-size: 23px;
}
#faculty-contact {
    color: #323694;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 67px;
    left: 1040px;
}
#phone-icon {
    position: absolute;
    top: 67px;
    left: 1010px;
    font-size: 23px;
}
#email-icon {
    position: absolute;
    top: 147px;
    left: 1010px;
    font-size: 23px;
}

#button-area {
    display: flex;
}
#button-area button {
    margin-left: 6px;
}
.side-navbar {
    height: 100% !important;
    width: 238px !important;
    position: fixed;
    z-index: 1;
    top: 118px;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 20px;
    display: none;
    text-align: center;
}
.side-navbar a,
.dropdown-btn,
.side-nav-menu {
    width: 80% !important;
    height: 50px;
    flex-shrink: 0;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.side-nav-menu {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background: #fff;
    width: 100% !important;
}
.dropdown-container {
    margin-top: 18px;
    display: none;
}
.btn-logout {
    width: 148px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #323694;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #4e6cef;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    justify-self: center;
    margin: 0;
    position: relative;
    bottom: 0px;
    margin-top: 220px;
}
