.container {
    display: flex;
}

.box1 {
    background-color: white;
    width: 608px;
    height: 900px;
    margin-bottom: 26px;
    border-radius: 15px;
}

.box2 {
    background-color: white;
    width: 498px;
    height: 535px;
    margin-bottom: 26px;
    border-radius: 15px;
    margin-left: 26px;
}

.detail {
    background-color: white;
    width: 500px;
    height: 339px;
    margin-bottom: 26px;
    border-radius: 15px;
    margin-left: 26px;
}


.detail::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; /* ปรับขนาดของ placeholder ตามต้องการ */
    color: #999; /* สีของ placeholder */
    font-size: 30px; /* ขนาดตัวอักษรของ placeholder */

}
#img-view1{
    margin-left: 0px;
    margin-top: 0px;
    width: 610px;
    height: 900px;
    border-radius: 25px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size:cover;
    align-items: center;
    justify-content: center;

}

#img-view2{
    margin-left: 0px;
    margin-top: 0px;
    width: 500px;
    height: 535px;
    border-radius: 25px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size:cover;
    align-items: center;
    justify-content: center;

}