*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #1c2841;
}
.email_container{
    width: 280px;

}

.email_entryarea{
    position: relative;
    height: 80px; 
    line-height: 80px;
}
input{
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 20px;
    padding: 0 18px;
    line-height: 35px;
    border-radius: 10px ;
    border: 2px solid #bbb;
    background:transparent;
    transition: 0.1s ease;
    z-index: 1111;
    
}
.email_labelline{
    position: absolute;
    font-size: 20px;
    color: #4E6CEF;
    padding: 0 25px;
    margin: 0 20px;
    background:transparent;
    transition: 0.2 ease;
}
input:focus,
input:volid{
    color: #4E6CEF;
    border: 4px solid#4E6CEF;
}
input:focus + .email_labelline,
input:volid + .email_labelline{
    color: #4E6CEF;
    height: 10px;
    line-height: 10px;
    transform: translate(-10px,-10px) scale(0.88);
    z-index: 1111;
}